body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,th,td,select{
    margin:0;
    padding:0;
}
body{
    font-size: 14px;
    font-family: "微软雅黑";
}
em{
    font-style: normal;
}
strong{
    font-weight: normal;
}
li{
    list-style: none;
}
i{
    font-style: normal;
}
a{
    text-decoration: none;
}
img{
    border:none;
    vertical-align: top;
}
table{
    border-collapse: collapse;
}
textarea{
    resize: none;
    overflow: auto;
}
input{
    outline: none;
}
/*
清浮动*/
.clear{
    zoom: 1;
}
.clear:after{
    content:"";
    display: block;
    clear: both;
}